* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center; 
    position: absolute;
    bottom: 0px;
}

.status-img {
    max-width: 100%; 
    height: auto; 
}

#fila-transito {
    display: flex;
    flex-wrap: nowrap; /* Impede que os itens sejam quebrados em várias linhas */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 10px; /* Espaçamento interno */
}

.item-transito {
    flex: 0 0 auto; /* Impede que os itens diminuam de tamanho */
    min-width: 200px; /* Largura mínima dos itens */
    background-color: #f2f2f2; /* Cor de fundo dos itens */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

.texto {
    position: absolute;
    top: 74px;
    font-size: 34px;
    animation: pulseText 2s infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Começa transparente */
        transform: scale(0.1); /* Começa pequeno */
    }
    to {
        opacity: 1; /* Torna-se visível */
        transform: scale(1); /* Torna-se grande */
    }
}

#anjo {
    width: 100px; /* Começa com tamanho pequeno */
    height: auto;
    animation: fadeIn 1s ease forwards; /* Aplica a animação fadeIn */
    animation-delay: 1s; /* Delay para que a animação comece após 1 segundo */
}

@keyframes pulseText {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.2); 
    }
}

@media screen and (min-width: 1200px) {
    .status-img {
        max-width: 50%; 
    }
}
